<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Quotes</title>
    </head>
<body>
    <a href="/logout">Logout</a>
    <h4>Welcome, {{request.session.name}}!</h4>
    <h2>Quotable Quotes</h2>
    <div style="overflow: auto; width:500px; height:300px; border-style:solid">
        {% for quote in quotes %}
        <h3>{{quote.quotedBy}}: {{quote.quotes}}</h3>
        <h5>Posted by: <a href="/user_quotes/{{quote.id}}">{{quote.creator.name}}</a></h5>
        <a href="add_to_favorite/{{quote.id}}">ADD TO MY LIST</a>
        {% endfor %}
    </div>
    
    
    <h2>Your Favorites</h2>
    <div style="overflow: auto; width:500px; height:300px; border-style:solid">
        {% for remove in favquotes %}
        <h3>{{remove.quotedBy}}: {{remove.quotes}}</h3>
        <h5>Posted by: <a href="/user_quotes/{{remove.id}}">{{remove.creator.name}}</a></h5>
        <a href="/remove_from_favorite/{{remove.id}}">REMOVE FROM MY LIST</a>
        {% endfor %}
        {{remove.quotes.id}}
    </div>



    <form action="/add_fav" method="POST">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <ul>
            <h2>Contribute a quote:</h2>
            <li>
                <input type="text" name="quotedBy" placeholder="Quoted By:">
            <li>
                <textarea name="quotes" placeholder="Quote"></textarea>
            </li>
            </li>
            <li>
            <input type="submit" value="Submit">
            </li>
        </ul>
    </form>
</body>
</html>